body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff8e7;

}

#desktop{
  display: none;
}

code {
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown{
  display: inline-block;
  text-decoration: none;
  color: #013220;
  cursor: pointer;
  position: relative;
}

#search-books{
  display: flex;
  /* align-items: center; */
  width: 100%;
}

.dropdown-content {
  position: absolute;
  background-color: #fffcf5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%;
  right: 0;
}
.hidden{
  display: none;
}
.visible{
  display: block;
}

div.dropdown-content.visible a,
div.dropdown-content button.logout, .delete-btn{
  margin: 0px;
  padding: 20px;
  display: block;
  text-decoration: none;
  color: #013220;
  font-weight: 300;
  font-size: 18px;
}

div.dropdown-content.visible a:hover, .delete-btn:hover{
  background-color: #013220;
  color: #fff8e7;
}

hr{
  margin: 0;
}

.dropbtn{
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #013220;
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navbar-right{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 1rem;
  padding: 0px 1rem;
}
#mobile{
    display: none;
    color: #fff8e7;
    font-size: 24px;
    cursor: pointer;
    margin: 1rem;
    padding: 1rem;
}

header a,
header button {
  font-size: 1rem;
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: #fff8e7;;
  cursor: pointer;
}

.active{
  text-decoration: underline;
}

.logout{
  color: #013220;
  background-color: #f9e8c7;
  border: none;
  border-radius: 3px;
}
main{
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 50px auto;
  row-gap: 50px;


  align-items: center;
}
.main {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  column-gap: 30px;
  row-gap: 30px;
  justify-content: center;
}

.favorites{
  flex-wrap: wrap;
  display: flex;
  column-gap: 30px;
  row-gap: 30px;
}
.profile-details{
  width: 100%;
}
.details{
  display: flex;
  column-gap: 30px;
  align-items: flex-start;
}

.details-image{
  height: 250px;
  border-radius: 5px;
}

.review-image{
  height: 200px;
  border-radius: 5px;
}

.profile-image{
  display: inline;
  margin: 0 auto;
  height: auto;
  width: 100%;
}

.image-cropper{
  width: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profile-cropper{
  width: 200px;
}

.details-text{
  width: 80%;
}

.text{
  color: #013220;
  text-decoration: none;
}

.books{
  width: 150px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.favorite-books{
  margin: 0;
}

.image{
  width:  100%;
  height: 250px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
}

.author{
  margin: 0;
  font-weight: 300;
}

.review-section{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
}

.star-rating button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on{
  color: #013220;
}

.off{
  color: #ccc;
}

.form{
  background-color: #f9e8c7;
  width: 100%;
}
form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px;
  row-gap: 10px;
}
.login-form{
  align-items: center;
  margin: 10% 20%;
}
article{
  display: flex;
  row-gap: 50px;
  flex-direction: column;
  width: 100%;
}
.form-text{
  margin: 0;
  color:#013220;
  text-align: center;
}

input, textarea, select.form-input{
  margin: 0;
  width: 100%;
  padding: 15px 0px;
  background-color: #fff8e7;
  border: 0.5px solid #013220;
  border-radius: 5px;
  text-indent: 10px;
}

textarea{
  height: 100px;
}

#book_image, #profile_picture{
  background-color: transparent;
  border: none;
}

.logo{
  color:#fff8e7;
  margin: 0px 1rem;
}

.link{
  color:#013220;
}

label{
  color: #013220;
}
.review-details{
  display: flex;
  justify-content: space-between;
  width: 100%;
  column-gap: 30px;
}
button.form-button, a.form-button{
  background-color: #013220;
  color: #fff8e7;
  padding: 15px 0px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  text-decoration: none;
}
.review{
  border-bottom: 1px solid #ccc;
  margin: 0px;
  padding-bottom: 30px;
}

.review-header{
  margin-bottom: 40px;
}

.profile-text{
  margin-bottom: 10px;
}

.profile{
  background-color: #f9e8c7;
  display: flex;
  width: 400px;
  margin: 5rem auto;
  padding: 50px 100px;
}

.profile-info{
  width: 100%;
}

.page-header{
  border-bottom: 1px solid #013220;
  padding-bottom: 10px;
  color: #013220;
}

.comment{
  margin-top:5px;
  color: #013220;
}

.profile-username{
  margin: 0px 0px 20px 0px;
  padding-bottom: 10px;
}

.review-header{
  margin: 0px;
}
.star{
  font-size: 20px;
}

.small-star{
  font-size: 11px;
}

input[type="text"], textarea, ::placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

.title{
  font-size: 14px;
  margin-bottom: 5px;
  color: #013220;
}

:-ms-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

::-ms-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  margin: 10px 0px;
  color: #013220;
}

p{
  margin-top: 0px;
  color: #013220;
}
p.error-message{
  margin-top: 0px;
  margin-left: 0px;
}

em{
  color: #013220;
}

.menu{
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 30px;
}

.switch {
  position: relative;
  width: 55px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #013220;
}

input:focus + .slider {
  box-shadow: 0 0 1px #013220;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.welcome-text{
  text-align: center;
}

.editMode{
  display: block;
}

.normalMode{
  display: none;
}

.icon{
  height: 20px;
  width: auto;
}

.delete{
  height: 23px;
  width: auto;
  float: right;
}

.edit{
  float: left;
}

.delete-book{
  background-color: transparent;
  border: none;
  float: right;
  padding: 0;
  margin-bottom: 10px;
  cursor: pointer;
}

.error{
  text-align: center;
}

.error-message{
  color: rgb(221, 1, 1);
  margin: 10px;
}

.search{
  width: 100%;
}

.input-search{
  /* padding: 15px; */
  border-radius: 0px 5px 5px 0px;
  background: transparent;
  border: 1px solid #013220;
  color: #013220;
}

.filter{
  /* width: 120px; */
  /* font-size: 12px; */
  /* padding: 15px; */
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #013220;
  border-right: 0px;
  color: #f9e8c7;
  background-color:#013220;
}

.profile-buttons{
  margin-top: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 30px;
}

.fa-pen-to-square{
  color: #013220;
  font-size: 24px;
}


@media only screen and (max-width: 630px){
  #mobile{
    display: block;
  }
  #navbar-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 90px;
    right: -330px;
    width: 300px;
    height: 100vh;
    background-color: #013220;
    box-shadow: 0 40px 60px rgba(0,0,0,0.1);
    margin: 0;
    padding: 40px 0 0 10px;
    z-index: 1;
    transition: 0.3s ease-in-out;
  }
  #navbar-right.active{
    right: 0px;
  }
  h3{
    font-size: 0.83em;
  }
  .details{
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: center;
  }
  .details-text{
    width: 100%;
  }
  .details-image, .books, .review-image{
    height: auto;
    width: 100%;
  }
}